{% extends 'public/base_hereda.html' %}
<!--Cambiando el title-->
{% block title %}Crud con Python 🐍 | Lista de productos{% endblock %}
<!--Inicio del block-->
{% block body %}

<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12 mb-4">
      <h3 class="text-center mt-5 mb-3">Menu</h3>
      <hr />
    </div>




    <div class="row justify-content-end">
{% if session['id_rol'] == 1 %}
      <div class="justify-content-center align-items-end text-end {% if request.path == '/registrar-producto' %} active {% endif %}">
                        <a href="/registrar-producto" class=" btn btn-info btn-sm ">
                            <div data-i18n="Tables">Registrar un producto</div>
                          </a>
      </div>
{% endif %}

                    <a href="/carrito" >

                            <div data-i18n="Tables"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
  <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
  <path d="M17 17h-11v-14h-2" />
  <path d="M6 5l14 1l-1 7h-13" />
</svg></div>
                          </a>

      <div class="col-md-6 mt-4 py-2">
        <input
          type="search"
          id="search"
          class="form-control border-0 shadow-none"
          placeholder="Buscar producto..."
          onkeyup="buscadorTableProducto('tbl_productos')" />
      </div>
    </div>

    <div class="row justify-content-center mb-2">
      <div class="table-responsive text-nowrap table-hover">
        <table
          table-hover
          id="tbl_productos"
          class="table table-striped table-bordered"
          cellspacing="0"
          width="100%">

          <thead>
            <tr class="fondomarronclaro ">
                {% if session['id_rol'] == 1 %}
              <th>#</th>
              <th>Producto</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Categoria</th>
              <th>Acción</th>
              {% endif %}

             {% if session['id_rol'] == 2 or session['id_rol']== 3 or not session %}
                <th>#</th>
              <th class="align-middle text-center">Nuestros Productos</th>
              <th class="align-middle text-center">Precio</th>
              <th class="align-middle text-center">Acción</th>
             {% endif %}


            </tr>
          </thead>
          <tbody>
            {% for producto in productos %}
            <tr id="producto_{{ producto.id_producto }}">
              <td style="width: 50px">{{ loop.index }}</td>
              <td style="width: 100px">

                <div class="align-middle text-center">
{% if session['id_rol'] == 2 or not session%}
                     <div class="align-middle text-center">
                     <p class="text-dark negrilla">{{ producto.nombre_producto }}</p>
                         </div>
 {% endif %}
                 <div class="">
                <img class="img-fluid"
                  style="width: 300px"
                  src="/static/fotos_productos/{{ producto.foto_producto }}"
                  alt="imagen-producto" />
                </div>

                </div>
              </td>


                {% if session['id_rol'] == 1 %}
              <td>{{ producto.nombre_producto }}</td>
                {% endif %}
              <td style="width: 100px" class="align-middle text-center">{{ producto.precio_producto }}</td>
                {% if session['id_rol'] == 1 %}
              <td class="align-middle text-center">{{ producto.categoria_producto }}</td>


              <td width="10px">

                <a
                  href="{{ url_for('viewEditarProducto', id = producto.id_producto) }}"
                  class="btn btn-success btn-sm"
                  tooltip="Actualizar Registro">
                  <i class="bi bi-arrow-clockwise"></i>
                  Actualizar
                </a>
                <a
                  href="#"
                  onclick="eliminarProducto('{{ producto.id_producto }}','{{ producto.foto_producto }}');"
                  class="btn btn-danger btn-sm"
                  data-bs-toggle="tooltip"
                  data-bs-offset="0,4"
                  data-bs-placement="top"
                  data-bs-html="true"
                  title="<span>Eliminar producto {{ producto.nombre_producto }}</span>">
                  <i class="bi bi-trash3"></i>
                  Eliminar
                </a>
                {% endif %}

                {% if session['id_rol'] == 2 or session['id_rol']== 3 or not session %}
                  <td style="width: 10px" class="align-middle text-center">

                    <a
                  href="{{ url_for('agregar_al_carrito', id_producto = producto.id_producto) }}"
                  class="btn btn-success btn-sm"
                  tooltip="Agregar al carrito">
                  <i class="bi bi-arrow-clockwise"></i>
                  Agregar al carrito
                </a>
                {% endif %}


              </td>
            </tr>

            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

{% endblock %}
