{% for producto in dataBusqueda %}

<tr id="producto_{{ producto.id_producto }}">
  <td>{{ loop.index }}</td>
  <td>
       <div class="align-middle text-center">

                     <div class="align-middle text-center">
                     <p class="text-dark negrilla">{{ producto.nombre_producto }}</p>
                         </div>

                 <div class="">
                <img class="img-fluid"
                  style="width: 300px"
                  src="/static/fotos_productos/{{ producto.foto_producto }}"
                  alt="imagen-producto" />
                </div>

                </div>
</td>

  <td>{{ producto.precio_producto }}</td>
  {% if session['id_rol'] == 1 %}
  <td>{{ producto.categoria_producto }}</td>
  <td>
    <a
      href="{{ url_for('viewEditarProducto', id = producto.id_producto) }}"
      class="btn btn-success btn-sm"
      tooltip="Actualizar Registro">
      <i class="bi bi-arrow-clockwise"></i>
      Actualizar
    </a>
    <a
      href="#"
      onclick="eliminarProducto('{{ producto.id_producto }}');"
      class="btn btn-danger btn-sm"
      data-bs-toggle="tooltip"
      data-bs-offset="0,4"
      data-bs-placement="top"
      data-bs-html="true"
      title="<span>Eliminar producto {{ producto.nombre_producto }}</span>">
      <i class="bi bi-trash3"></i>
      Eliminar
    </a>
{% endif %}
    {% if session['id_rol'] == 2 or session['id_rol']== 3 %}
                  <td style="width: 10px" class="align-middle text-center">
                      <a href="" class="btn btn-success btn-sm" >
                        Agregar al Carrito
                      </a>
                {% endif %}
  </td>
</tr>

{% endfor %}
