 <footer class="pt-1 mt-1 border-top">
        <div class="container-xl mt-2">
            <div class="row">
                <div class="col-md-6 mb-2 text-center">
                    <h3 class="mb-3 marron">Categorías</h3>
                    <nav class="d-flex flex-column">
                        <a class="marronclaro mt-2  text-decoration-none" href="https://sites.google.com/ufps.edu.co/portfoliobkk2023?usp=sharing">Equipo de desarrollo</a>
                        <a class="marronclaro mt-2  text-decoration-none" href="/public/library/faq.html">Preguntas Frecuentes</a>
                        <a class="marronclaro mt-2  text-decoration-none" href="/public/library/politica.html">Confianza y Seguridad</a>
                    </nav>
                </div>

                <div class="col-md-6 mb-2  text-center">
                    <h3 class="mb-3 marron">Sobre Nosotros</h3>
                    <nav class="d-flex flex-column">
                        <a class="marronclaro mt-2  text-decoration-none" href="/public/library/historia.html">Nuestra Historia</a>
                        <a class="marronclaro mt-2  text-decoration-none" href="/public/library/historia.html">Misión, Visión y Valores</a>
                        <a class="marronclaro mt-2  text-decoration-none" href="/public/library/historia.html">Términos del Servicio</a>
                    </nav>
                </div>

            </div>

            <p class="marronclaro mt-1 text-center">© 2023 Babc | Todos los derechos reservados | Cúcuta – Colombia</p>

     </div>
    </footer>