 <footer class="pt-1 mt-1 border-top">
        <div class="container-xl mt-2">
            <div class="row">
                <div class="col-md-6 mb-2 text-center">
                    <h3 class="mb-3 marron">Categorías</h3>
                    <nav class="d-flex flex-column">
                        <a class="marronclaro mt-2  text-decoration-none" href="#">Equipo de desarrollo</a>
                        <a class="marronclaro mt-2  text-decoration-none" href="#">Preguntas Frecuentes</a>
                        <a class="marronclaro mt-2  text-decoration-none" href="#">Confianza y Seguridad</a>
                    </nav>
                </div>

                <div class="col-md-6 mb-2  text-center">
                    <h3 class="mb-3 marron">Sobre Nosotros</h3>
                    <nav class="d-flex flex-column">
                        <a class="marronclaro mt-2  text-decoration-none" href="#">Nuestra Historia</a>
                        <a class="marronclaro mt-2  text-decoration-none" href="#">Misión, Visión y Valores</a>
                        <a class="marronclaro mt-2  text-decoration-none" href="#">Términos del Servicio</a>
                    </nav>
                </div>

            </div>

            <p class="marronclaro mt-1 text-center">© 2023 Babc | Todos los derechos reservados | Cúcuta – Colombia</p>

     </div>
    </footer>