{% extends 'public/base_hereda.html' %}
<!--Cambiando el title-->
{% block title %}Crud con Python 🐍 | Registrar Mesa{% endblock %}
<!---->
{% block customCSS %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

<!--Inicio del block-->
{% block body %}
<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">REGISTRAR NUEVO MESA</h3>
      <hr />
    </div>
  </div>
{% if session['id_rol'] == 1 %}
  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <form
        class="form-horizontal mx-auto"
        method="POST"
        action="/form-registrar-mesa"
        autocomplete="off"
        enctype="multipart/form-data">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <label for="nombre_mesa" class="form-label">
                Nombre de la mesa
              </label>
              <input
                type="text"
                name="nombre_mesa"
                class="form-control"
                required />
            </div>
            <div class="col-md-6">
              <label for="cantidad_mesa" class="form-label">
                Cantidad de personas
              </label>
              <input
                class="form-control"
                type="text"
                name="cantidad_mesa"
                required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
            <label for="id_mesero" class="form-label">
                Mesero a cargo
            </label>
            <select name="id_mesero" class="form-control" required>
                {% for mesero in meseros %}
                <option value="{{ mesero.id }}">{{ mesero.name_surname }}</option>
                {% endfor %}
            </select>
        </div>

          </div>

<div class="row mt-2">
  <div class="col-md-6">
    <label for="hora_inicio" class="form-label">Hora de inicio</label>
    <input type="time" name="hora_inicio" class="form-control" required />
  </div>
  <div class="col-md-6">
    <label for="hora_fin" class="form-label">Hora de fin</label>
    <input type="time" name="hora_fin" class="form-control" required />
  </div>
</div>
          <div class="mb-3 mt-4 text-center">
            <button type="submit" class="btn rounded-pill btn-primary">
              Guardar registro ahora
              <i class="bi bi-arrow-clockwise"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %} {% block customJS %}
<script src="{{ url_for('static', filename ='assets/customJS/file.js') }}"></script>
{% endblock %}
