{% extends 'public/base_hereda.html' %}
<!--Cambiando el title-->
{% block title %}Crud con Python 🐍 | Registrar Nuevo Mesa{% endblock %}
<!---->
{% block customCSS %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

<!--Inicio del block-->
{% block body %}
<div class="card" style="border-radius: 0px !important">
  {% if respuestaMesa|length %}
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">
        <a href="/lista-de-mesas">
          <i class="bi bi-arrow-left-circle"></i>
        </a>
        ACTUALIZAR DATOS DEL MESAS
      </h3>
      <hr />
    </div>
  </div>
{% if session['id_rol'] == 1 %}
  <form class="form-horizontal mx-auto" method="POST" action="/actualizar-mesa" autocomplete="off" enctype="multipart/form-data">
    <div class="card-body">
        <input type="hidden" name="id_mesa" value="{{ respuestaMesa.id_mesa }}"/>
        <div class="row">
            <div class="col-md-6">
                <label for="nombre_mesa" class="form-label">Nombre de la mesa</label>
                <input type="text" name="nombre_mesa" class="form-control" value="{{ respuestaMesa.nombre_mesa }}" required/>
            </div>
            <div class="col-md-6">
                <label for="cantidad_mesa" class="form-label">Cantidad de personas</label>
                <input type="text" name="cantidad_mesa" class="form-control" value="{{ respuestaMesa.cantidad_mesa }}" required/>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <label for="id_mesero" class="form-label">Mesero a cargo</label>
                <select name="id_mesero" class="form-control" required>
                    {% for mesero in meseros %}
                        <option value="{{ mesero.id }}" {% if respuestaMesa.id_mesero == mesero.id %}selected{% endif %}>{{ mesero.name_surname }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <label for="hora_inicio" class="form-label">Hora de inicio</label>
                <input type="time" name="hora_inicio" class="form-control" value="{{ respuestaMesa.hora_inicio }}" required/>
            </div>
            <div class="col-md-6">
                <label for="hora_fin" class="form-label">Hora de fin</label>
                <input type="time" name="hora_fin" class="form-control" value="{{ respuestaMesa.hora_fin }}" required/>
            </div>
        </div>
        <div class="mb-3 mt-4 text-center">
            <button type="submit" class="btn rounded-pill btn-primary">
                Actualizar registro ahora
                <i class="bi bi-arrow-clockwise"></i>
            </button>
        </div>
    </div>
</form>

  {% else %}
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center">No existe el empleado</h3>
    </div>
  </div>
{% endif %}
  {% endif %}
</div>
{% endblock %} {% block customJS %}
<script src="{{ url_for('static', filename ='assets/customJS/file.js') }}"></script>
{% endblock %}
